<div class="calendar_wrapper" th:fragment="calendar" style="display: inline-block;">
	<div id="calTitle">
		<button class="btn btn-info" id="prevYear" type="button" title="이전 해">◀</button>
		<span id="calYear"></span><span>년</span>
		<button class="btn btn-info" id="nextYear" type="button" title="다음 해">▶</button>
		<button class="btn btn-success" id="prevMonth" type="button" title="이전 달">◁</button>
		<span id="calMonth"></span>
		<button class="btn btn-success" id="nextMonth" type="button" title="다음 달">▷</button>
    </div>

	 <div id="myCalender"></div>
</div>