<div th:fragment="content2_wrapper" class="content2">
    <p>정씨 이야기</p>
    <div class="div_wrapper row row-eq-height">
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img1.JPG}" id="img"></a></figure>
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img2.JPG}" id="img"></a></figure>
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img3.JPG}" id="img"></a></figure>
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img4.JPG}" id="img"></a></figure>
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img5.PNG}" id="img"></a></figure>
        <figure class="col-6 col-sm-4 p-0"><a href="#"><img th:src="@{/images/div_img2.JPG}" id="img"></a></figure>
    </div>
</div>