<div th:fragment="common_navbar">
    <header>
        <!--header-->
        <!-- Logo -->
        <h1 class="logo">
            <a href="/home/index" onclick="goPage(this); return false">
                <img th:src="@{/images/logo.PNG}">
            </a>
        </h1>
        <nav class="mnb">
            <h2 class="blind">Main Navigation</h2>

            <ul>
                <li><a href="/home/introduce" onclick="goPage(this); return false">역사 소개</a></li>
                <li><a href="/home/people" onclick="goPage(this); return false">인물 소개</a></li>
                <li><a href="/home/location" onclick="goPage(this); return false">역사 유적지</a></li>
                <li><a href="/home/root" onclick="goPage(this); return false">종가 내력</a></li>
            </ul>
        </nav>
        <nav class="sns ">
            <h2 class="blind ">sub</h2>
            <div>
                <a href="# ">
                자유 게시판
                <span class="sr-only ">(current)</span>
            </a>
                <a href="admin ">
                    <p>회원 관리</p>
                    <span class="sr-only ">(current)</span>
                </a>
            </div>
        </nav>
    </header>
    <!--/header-->

    <hr>

<!--.gnb-->
<nav class="gnb">
    <form action="" name="hidden_loginform">
        <input type="hidden" name="ID" th:if="${resultMap.isLogin}=='true'" th:value="${resultMap.ID}">
        <input type="hidden" name="PASSWORD" th:if="${resultMap.isLogin}=='true'" th:value="${resultMap.PASSWORD}">
        <input type="hidden" name="NAME" th:if="${resultMap.isLogin}=='true'" th:value="${resultMap.NAME}">
        <input type="hidden" name="isLogin" th:if="${resultMap.isLogin}=='true'" th:value="${resultMap.isLogin}">
    </form>
    <h2 class="blind">For member</h2>
    <span>
        <p class="gnbmenu" th:if="${resultMap.isLogin}=='true'" th:text="${resultMap.NAME}"></p>
        <span class="sr-only">(current)</span>
    </span>
    <span>
        <a class="gnbmenu" href="/home/logout">
            <p th:if="${resultMap.isLogin}=='true'" th:text="로그아웃"></p>
            <span class="sr-only">(current)</span>
        </a>
        <a class="gnbmenu " href="/log/login ">
            <p th:if="${resultMap.isLogin}=='false' " th:text="로그인 "></p>
            <span class="sr-only ">(current)</span>
        </a>
        </span>
        <span>
        <a class="gnbmenu " href="# " th:href="@{/log/signup_agree}">
            <p>회원가입</p>
            <span class="sr-only ">(current)</span>
        </a>
        </span>
    </nav>
    <!--/.gnb-->
</div>