/* login.css */

.login_wrapper {
    margin: 70px 50px;
    padding: 50px 30px;
    border: 1px solid #ddd;
    font-size: 1.5em;
}

.login_wrapper h3 {
    font-size: 1.6em;
}

.login_Form {
    padding: 50px 30px;
}

.login_Form label {
    padding: 20px 0;
}

.login_Form input {
    padding: 20px;
    font-size: 0.7em;
}

.login_btn {
    width: 5em;
    height: 3.5em;
    margin-top: 2.5em;
    position: relative;
    left: 50%;
    margin-left: -1.25em;
}

.login_btn button {
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

/* signup_agree.css */

.join_wrapper {
    margin: 70px 50px;
    padding: 50px 30px;
    border: 1px solid #ddd;
    font-size: 1.2em;
}

.join_wrapper h3 {
    font-size: 1.6em;
}

.join_Form {
    padding-top: 50px;
}

.join_Form p {
    margin: 0 0 40px 0;
    font-size: 1.1em;
}

.join_Form .se_1 {
    width: 100%;
}

.join_Form .se_1 h4{
    margin-bottom: 1.5em;
}

.fregister_agree {
    margin: 1.2em 0;
}

.join_Form .se_2 h4 {
    margin: 2em 0 1.5em 0;
}

.join_Form .se_2 {
    width: 100%;
}

.join_btn {
    width: 6em;
    height: 2.5em;
    position: relative;
    left: 90%;
}

.join_btn input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

/* signup.css */
.join_form_wrapper {
    font-size: 1.3em;
}

.join_form_wrapper input {
    padding: 20px;
    font-size: 0.7em;
}

.pr {
    margin-top: 2em;
}

.pr h5 {
    font-size: 0.9em;
    font-weight: bold;
}

.go {
    margin-top: 2em;
}

.go button {
    display: inline-block;
    width: 6em;
    height: 2.5em;
    font-size: 0.8em;
}