<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commonLink"></th:block>
</head>

<body>
    <div class="wrap">
        <th:block th:replace="fragments/header :: common_navbar"></th:block>
        <div class="main">
            <main>
                <div class="content_wrapper">
                    <div class="row">



                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-sm-6 border border-dark">
                                    <h5>온양 정씨 모선사 사당 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/loc_SaDang.PNG}" class="d-inline-block w-100 h-50"
                                        alt="...">

                                    <br>
                                    <p>* 충남 아산시 영인면 월선리( 忠南 牙山市 靈仁面 月船里)<br> * 온양정씨 선조묘역으로 1세부터 11세까지 위폐를 한 곳에 모셔 놓은
                                        사우(祠宇), 시제일 매년 10.1.</p>
                                </div>

                                <div class="col-sm-6 border border-dark">
                                    <h5>대전 뿌리공원 온양정씨 조형물 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/loc_DaeJeon.JPG}" class="d-inline-block w-100 h-50"
                                        alt="...">

                                    <br>
                                    <p>* 대전광역시 중구 침산동 산33 (뿌리공원)
                                        <br> * 자신의 뿌리를 되찾을 수 있는 온양정씨 기타 성씨 상징 조형물과 "효"주제 테마공원</p>
                                </div>




                                <div class="col-sm-6 border border-dark">
                                    <h5>온양 정씨 양파정 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/loc_YangPaJung1.JPG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p>* 광주광역시 남구 양림동<br> * 온양정씨(溫陽鄭氏)로 참봉(參奉) 벼슬을 역임한 양파(楊波) 정낙교(鄭洛敎)가 1914년에 양림산 바위언덕에
                                        건축하여 기증한 누정</p>
                                </div>
                                <div class="col-sm-6 border border-dark">
                                    <h5>감문왕 정씨 시조묘 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/loc_GamMunWang.JPG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p>* 경주 내남면 노곡2리 백운정 재궁마을<br> * 신라 유리 이사금 9년(32년)에 현손(玄孫)인 동충(東沖)이 다른 다섯 촌장과 함께
                                        사성(賜姓) 받을 때 정씨(鄭氏) 성을 하사받았습니다. 이후 후손들은 정씨 성을 사용하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:replace="fragments/footer :: footer_wrapper"></th:block>

            </main>
        </div>
    </div>

</body>

</html>