<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commonLink"></th:block>
</head>

<body>
    <div class="wrap">
        <th:block th:replace="fragments/header :: common_navbar"></th:block>
        <div class="main">
            <main>
                <div class="content_wrapper">
                    <div class="row">


                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정갑윤 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungGapYoun.JPG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p class="mt-1">* 1950년 ~ <br> * 제15·16·17·18·19·20대 국회의원. 제19대 국회 후반기 부의장.</p>
                                </div>

                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정재은 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungJaeEun.JPG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p class="mt-1">* 1939년 ~ <br> * 신세계그룹 명예회장.</p>
                                </div>

                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정상희 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungSangHee.PNG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p class="mt-1">* 1907년 ~ 1981년 <br> * 삼성물산 사장. 제4·5대 국회의원.</p>
                                </div>



                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정만석 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungManSuk.PNG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p class="mt-1">* 1758년 ∼ 1834년<br>* 1783년 문과에 급제하여 암행어사를 지내고, 1811년 평안도에서 홍경래의 난이
                                        발생하자 관서위무사(關西慰撫使)로 파견되었다. 한성부판윤, 호조판서를 거쳐 1829년 우의정이 되었다. </p>
                                </div>
                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정창순 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungChangSun.PNG}"
                                        class="d-inline-block w-100 h-50" alt="...">

                                    <br>
                                    <p class="mt-1">* 1727년 ∼ ？<br>* 1757년(영조 33) 문과에 급제하여 대사헌·함경도관찰사·경상도관찰사를 거쳐 1790년
                                        선혜청제조를 지냈으며 예조판서·중추부판사에 이르렀다.
                                    </p>
                                </div>
                                <div class="col-lg-4 col-sm-6 border border-dark">
                                    <h5 class="mt-1">정렴 </h5>
                                    <br>
                                    <img src="#" th:src="@{/images/per_JungRyum.PNG}" class="d-inline-block w-100 h-50"
                                        alt="...">

                                    <br>
                                    <p class="mt-1">* 1504년~1549년<br>* 정순붕의 아들. 1537년(중종 32) 진사시에 합격했다. 의원으로서 1544년 중종의
                                        병환에 약을 짓기 위하여 내의원제조의 추천을 받아 입진하였으며, 포천현감을 지내기도 했다. 일상 처방을 모아 『정북창방(鄭北窓方)』을 편찬했다.
                                    </p>
                                </div>
                            </div>


                        </div>

                    </div>




                </div>



                <th:block th:replace="fragments/footer :: footer_wrapper"></th:block>

            </main>
        </div>


    </div>

</body>

</html>