<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commonLink"></th:block>
</head>

<body>
    <div class="wrap">
        <th:block th:replace="fragments/header :: common_navbar"></th:block>
        <div class="main">
            <main>
                <div class="content_wrapper">
                    <div class="row">


                        <div class="col-6">
                            <h2 class="card-text"><strong>정(鄭)씨의 유래</strong> </h2>
                            <p class="card-text"><strong>(한반도 정씨는 경주 정씨에서 유래)</strong></p><br>
                            <p class="card-text">본관은 옛 문헌에 210본 또는 247본이 기록되어 있으나 오늘날 전하는 것은 동래(東萊) · 연일(延日) · 해주(海州) ·
                                진주(晉州) · 하동(河東) · 초계(草溪) · 온양(溫陽) · 경주(慶州) · 청주(淸州) · 봉화(奉化) · 광주(光州) · 나주(羅州) · 서산(瑞山)
                                · 김포(金浦) · 야성(野城) · 함평(咸平) · 청산(靑山) · 장기(長?) · 영덕(盈德) · 곤양(昆陽) · 서경(西京) 등 30여
                                본이다.
                            </p>
                            <p class="card-text">역사적으로 명벌(名閥)로서의 지위를 누려왔으며, 특히 조선시대에 동래정씨(東萊鄭氏)를 으뜸으로 연일 · 청주 · 온양 · 진주
                                · 하동정씨 등이 상당한 세력을 폈다. 정씨의 원조는 《삼국사기와 삼국유사》에 전하는 신라의 6촌(六村) 중 화산(山) 진지촌(珍支村:本彼部)의 촌장인
                                지백호(智伯虎:佐命功臣)이다. 본피부락은 현재의 경주시 중심부에 있었으므로 정씨는 일찍부터 한반도 남단에 자리잡고 살던 선이주민(先移住民)의
                                후예임이 분명하다.
                            </p>
                            <p class="card-text">정씨 부족은 고조선이 멸망하자, 진한의 일족으로 경주로 이주한 선이주민(*선주민과 구별)일 것으로 보인다. 경주지역의 토착인인
                                박씨 부족과는 다른 이주민일 것이다. 6부촌 중 정씨 부족은 유일하게 고조선의 유민으로 알려져 있다. 단재 신채호선생의 조선상고사에 따르면 고조선은
                                3한(진한, 마한, 변한)으로 구성되어 있으며, 이를 오늘날 북삼한이라 하고, 고조선 멸망이후, 요동지역은 부여족의 천하가 되었고, 고조선 유민이
                                한반도 한강유역으로 이전하면서 마한(후에 백제), 변한(가야), 고조선 왕의 직할부족인 진한이 사로국(후에 신라)으로 이주하면서 남삼한이 발생한 것으로
                                보인다. 특히 사로국 6부족중 정씨는 고조선의 유민으로 알려져 있다. 오늘날 정씨의 각 본관별 시조들은 모두 지백호의 원손(遠孫)들이라는 것이 일반적인
                                통념이지만 그 혈연적 계보(系譜)를 가려낼 방도는 없다. 일반적으로 정씨는 한 혈손이며 그 중 경주정씨가 큰
                                집이 된다는 데에는 별로 이론이 없는 것 같다. 다만 동성이족(同姓異族)으로서 서산정씨가 있는데 그 시조 신보(臣保)는 원래 중국의 저장[浙江] 사람으로
                                송(宋)나라의 원외부(員外部) 벼슬에 있다가 나라가 망하자 고려에 망명해 온 것으로 보인다. 《고려사(高麗史)》에 이름을 남긴 인물들로는 의종 때 명신
                                습명(襲明), 그의 6대 손인 몽주(夢周), 의종 때 무신정변을 주동한 중부(仲夫), 예종 때 학자·문인이었던
                                항(沆)과 그의 아들인 《정과정곡(鄭瓜亭曲)》의 저자 서(敍), 고려 당대의 시객(詩客) 지상(知常) 등이 두드러졌으며, 그 위세는 조선시대에 들어와서 비로소
                                활짝 피었다고 할 수 있다. . 조선시대에 31명의 상신(相臣)과 751명의 문과 급제자를 배출하였다.
                            </p><br><br>
                            <p class="card-text"><strong>정씨의 기원분석</strong> </p><br>
                            <p class="card-text">앞서 말했듯이 정씨의 시조는 신라 6부족 중의 하나인 진지촌 지백호로 알려져 있다. 하지만, 이에 대해선 삼국사기와 삼국유사에
                                다르게 기술되어 있다. 삼국사기에 의하면, ‘지백호는 한무제 6년(기원전 117년) 경주 화산에 강림하여 부족국가이던 사로의 여섯 고을 중 취산 진지촌을
                                다스리면서 신라 건국에 참여했다’고 한다. 그 후 ‘유리왕(2대) 9년 6부의 명칭을 개명하고 개국공신인 6부 촌장에게 성을 하사했는데, 진지부를
                                본피부(本彼部)로 정하고 정씨 성을 하사’한 것으로 기록하고 있다. 하지만, 이와 달리 삼국유사에는 ‘알천 양산촌의 촌장은 알평이며, 급량부 이씨의 조상이고,
                                돌산 고허촌의 촌장 소벌도리는 사량부 정씨의 조상이며, 무산 대수촌의 촌장은 구례마로 점량부 또는 모량부 손씨의 조상’이라고 하고, ‘진지촌의 촌장은
                                지백호이며 본피부 최씨의 조상’이라고 표기하고 있다. 즉, 소벌도리와 지백호에 대해 최씨와 정씨의 조상으로
                                엇갈려 기술하고 있는 것이다. 그러나 대체로 삼국사기의 기술에 의거하여 소벌도리는 최씨의 시조로, 지백호는 정씨의 시조로 여겨지고 있다. 그래서 정씨의 본관별
                                대종회에서도 정씨의 원시조를 지백호로 기술하고 있는 실정이다. 하지만, 정씨 성을 하사받았다고 하는 유리왕 9년(서기 32년)에서 524년이 지난 29대
                                태종무열왕 3년에 ‘진지부 촌장 지백호를 감문왕에 추봉한다’는 기록이 있어, 과연 유리왕 9년에 6부
                                촌장에게 성씨를 하사했다는 기록이 올바른 것인지에 대해서도 의문이 있다. 왜냐하면, 태종무열왕 때 와서도 본피부로 바꾼 진지부를 계속 진지부로 호칭하고 있고,
                                정씨 성을 하사받은 지백호에 대해서 여전히 지백호라는 이름을 쓰고 있기 때문이다. 따라서 신라 왕족이 김씨와 박씨 성을 쓴 것이 진흥왕 이후로 추정되고 있기
                                때문에 6부족의 후예들이 자신의 성씨를 쓴 것은 그 이후가 아닌가 추정된다. 왜냐하면, 진흥왕순수비를
                                보아도 부족 이름과 촌장의 이름은 나오지만, 여전히 성씨는 기록되어 있지 않기 때문이다. 그럼에도 불구하고 신라가 3개의 왕족과 6개 부족의 협의로 국가를
                                이끌어왔고, 또 각 부족이 그 조상에 뿌리의식과 숭배의식을 지녀왔다는 것을 추정할 때, 정씨 성을 쓴 것이 통일신라 이후라 하더라도 신라의 정씨 부족이 진지촌
                                지백호를 원뿌리로 여길 만한 충분한 이유가 있다 할 것이다.
                            </p>
                            <img src="#" th:src="@{/images/ro_ShinRa.JPG}" class="d-inline-block" width="100%"
                                alt="...">

                        </div>


                    </div>
                </div>
                <th:block th:replace="fragments/footer :: footer_wrapper"></th:block>

            </main>
        </div>

    </div>

</body>

</html>